[Unit]
Description=Speedtest Exporter
After=network.target

[Service]
# User and group used to run this service. If you want to use a different user and/or group, please change them
User=speedtest_exporter
Group=speedtest_exporter
Type=simple

ExecStart=/usr/local/bin/speedtest_exporter -config.file /etc/speedtest_exporter/config.yml

[Install]
WantedBy=multi-user.target